<!DOCTYPE html>
<html>
<head>
  <title>Onboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>
			<%= link_to "OnBoard", root_path %>
		</h1>

		<nav>
			<ul>
				<% if current_user .present? %>
			  	<li>Welcome <%= current_user.name %></li>
			  	<li><%= link_to "Add a room", new_room_path %></li>
			  	<li><%= link_to "Log out", session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log in", new_session_path %></li>
				  <li><%= link_to "Sign up", new_user_path %></li>
				<% end %>
			</ul>
		</nav>
	</header>

	<main>

		<% if flash[:sucess].present? %>
			<div class="sucess">
				<%= flash[:sucess] %>
			</div>
		<% end%>

		<% if flash[:error].present? %>
			<div class="error">
				<%= flash[:error] %>
			</div>
		<% end%>

		<%= yield %>
		
	</main>

</body>
</html>
